<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>美团.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CC074A7E1C7F389700FDB60A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC074A971C7F389700FDB60A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC074AA21C7F389700FDB60A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
